@import "../../../../assets/scss/theme.scss";

.tabs {
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
  li {
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    color: $brand-back;
    margin-left: 0px;
    font-weight: 700;
    letter-spacing: 0.36px;
    font-size: 1rem;
    transition: 0.3s ease all;
    line-height: 20px;
    span {
      display: block;
      margin-right: 12px;
    }
    &.active {
      color: #fff;
    }
  }
}

@media (min-width: 426px) {
}

@media (min-width: 769px) {
  .tabs {
    li {
      margin-left: 30px;
    }
  }
}
