<div class="workflow">
  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>

  <div class="column">
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
    <div class="drag-box">
      <app-component-user-mini-card [user]="item"></app-component-user-mini-card>
    </div>
  </div>
</div>
