<section class="chat">
  <app-component-second-menu [message]="'Filter message'" [tabs-list]="tabsList" [tab-active]="tabActive"
    (tabChanged)="tabChange($event)" [filter-list]="filterList" [filter-active]="filterActive"
    (filterChanged)="filterChange($event)">
  </app-component-second-menu>

  <div class="chat__body">
    <!-- Боковая панель с списком чатов -->
    <div class="chat__list animated slideInLeft faster" [class.chat__list--open]="chatListOpen">
      <div class="arrow" (click)="toggleChatList()" [class.open]="chatListOpen">
        <span class="material-icons">keyboard_arrow_right</span>
      </div>

      <div class="scroll-container">
        <div class="chat__card" *ngFor="let mail of mailsList" (click)="setMailActive(mail)"
          [class.active]="mail === activeMail">
          <div class="card__author-detail">
            <div class="card__author">
              <a href="">
                <img [src]="'../../assets/img/' + mail.avatar" alt="" />
              </a>
              <p>{{ mail.name }}</p>
            </div>

            <p class="card__date" [class.readed]="mail.readed">
              {{ mail.date }}
            </p>
          </div>

          <p class="card__message">
            {{ mail.message }}
          </p>
        </div>
      </div>

      <div class="chat__card chat__card--last">
        <div class="card__button"><span>+</span> New coversation</div>
      </div>
    </div>

    <!-- Окно чата -->
    <div class="chat__window animated slideInLeft faster" [class.chat__window--close]="chatListOpen">
      <div class="scroll-container">
        <div class="chat__message">
          <a class="avatar">
            <img src="../../assets/img/author1.png" alt="" />
          </a>
          <div class="message">
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ulla pariatur Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere tempora,
              sed quaerat magnam eligendi facilis consequatur id pariatur adipisci accusamus quisquam accusantium
              impedit mollitia consectetur beatae, dolorem ab voluptates deleniti?
            </p>
            <span>4 April 2016, 5:32 PM</span>
          </div>
        </div>

        <div class="chat__message user-message">
          <a class="avatar">
            <img src="../../assets/img/author1.png" alt="" />
          </a>
          <div class="message">
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ulla pariatur Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere tempora,
              sed quaerat magnam eligendi facilis consequatur id pariatur adipisci accusamus quisquam accusantium
              impedit mollitia consectetur beatae, dolorem ab voluptates deleniti?
            </p>
            <span>4 April 2016, 5:32 PM</span>
          </div>
        </div>
      </div>
      <div class="chat__send">
        <form>
          <input type="text" placeholder="Write a message" />
          <div>
            <label class="custom-file-upload">
              <input type="file" />
              <span class="material-icons">attach_file</span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
