<section class="projects">
  <app-component-second-menu [message]="'Show projects:'" [tabs-list]="tabsList" [tab-active]="tabActive"
    (tabChanged)="tabChange($event)" [filter-list]="filterList" [filter-active]="filterActive"
    (filterChanged)="filterChange($event)">
  </app-component-second-menu>

  <div class="projects__body">
    <table class="projects__table animated slideInLeft faster delay-05s">
      <tr class="projects__row projects__row--heading">
        <td class="projects__cell">
          <h5>Project title</h5>
        </td>
        <td class="projects__cell">
          <h5>Value</h5>
        </td>
        <td class="projects__cell">
          <h5>Deadline</h5>
        </td>
        <td class="projects__cell">
          <h5>Time spent</h5>
        </td>
        <td class="projects__cell">
          <h5>Progress</h5>
        </td>
        <td class="projects__cell">
          <h5>Status</h5>
        </td>
        <td class="projects__cell">
          <h5>Assigned to</h5>
        </td>
      </tr>

      <tr class="projects__row status-inprocess">
        <td class="projects__cell">
          <p>New website</p>
          <span>Microsoft</span>
        </td>
        <td class="projects__cell">
          <p>$2300</p>
        </td>
        <td class="projects__cell">
          <p>15 May 2016</p>
          <span>10 days left</span>
        </td>
        <td class="projects__cell">
          <p>40 hours</p>
        </td>
        <td class="projects__cell">
          <app-component-progressbar [value]="25"></app-component-progressbar>
        </td>
        <td class="projects__cell">
          <p>Development</p>
        </td>
        <td class="projects__cell">
          <app-component-user-mini-card></app-component-user-mini-card>
        </td>
      </tr>
      <div class="spacer"></div>
      <tr class="projects__row status-inprocess">
        <td class="projects__cell">
          <p>New website</p>
          <span>Microsoft</span>
        </td>
        <td class="projects__cell">
          <p>$2300</p>
        </td>
        <td class="projects__cell">
          <p>15 May 2016</p>
          <span>10 days left</span>
        </td>
        <td class="projects__cell">
          <p>40 hours</p>
        </td>
        <td class="projects__cell">
          <app-component-progressbar [value]="25"></app-component-progressbar>
        </td>
        <td class="projects__cell">
          <p>Development</p>
        </td>
        <td class="projects__cell">
          <app-component-user-mini-card></app-component-user-mini-card>
        </td>
      </tr>
      <div class="spacer"></div>
      <tr class="projects__row status-inprocess">
        <td class="projects__cell">
          <p>New website</p>
          <span>Microsoft</span>
        </td>
        <td class="projects__cell">
          <p>$2300</p>
        </td>
        <td class="projects__cell">
          <p>15 May 2016</p>
          <span>10 days left</span>
        </td>
        <td class="projects__cell">
          <p>40 hours</p>
        </td>
        <td class="projects__cell">
          <app-component-progressbar [value]="25"></app-component-progressbar>
        </td>
        <td class="projects__cell">
          <p>Development</p>
        </td>
        <td class="projects__cell">
          <app-component-user-mini-card></app-component-user-mini-card>
        </td>
      </tr>
      <div class="spacer"></div>
      <tr class="projects__row status-inprocess">
        <td class="projects__cell">
          <p>New website</p>
          <span>Microsoft</span>
        </td>
        <td class="projects__cell">
          <p>$2300</p>
        </td>
        <td class="projects__cell">
          <p>15 May 2016</p>
          <span>10 days left</span>
        </td>
        <td class="projects__cell">
          <p>40 hours</p>
        </td>
        <td class="projects__cell">
          <app-component-progressbar [value]="25"></app-component-progressbar>
        </td>
        <td class="projects__cell">
          <p>Development</p>
        </td>
        <td class="projects__cell">
          <app-component-user-mini-card></app-component-user-mini-card>
        </td>
      </tr>
      <div class="spacer"></div>
      <tr class="projects__row status-inprocess">
        <td class="projects__cell">
          <p>New website</p>
          <span>Microsoft</span>
        </td>
        <td class="projects__cell">
          <p>$2300</p>
        </td>
        <td class="projects__cell">
          <p>15 May 2016</p>
          <span>10 days left</span>
        </td>
        <td class="projects__cell">
          <p>40 hours</p>
        </td>
        <td class="projects__cell">
          <app-component-progressbar [value]="25"></app-component-progressbar>
        </td>
        <td class="projects__cell">
          <p>Development</p>
        </td>
        <td class="projects__cell">
          <app-component-user-mini-card></app-component-user-mini-card>
        </td>
      </tr>
      <div class="spacer"></div>
      <tr class="projects__row status-inprocess">
        <td class="projects__cell">
          <p>New website</p>
          <span>Microsoft</span>
        </td>
        <td class="projects__cell">
          <p>$2300</p>
        </td>
        <td class="projects__cell">
          <p>15 May 2016</p>
          <span>10 days left</span>
        </td>
        <td class="projects__cell">
          <p>40 hours</p>
        </td>
        <td class="projects__cell">
          <app-component-progressbar [value]="25"></app-component-progressbar>
        </td>
        <td class="projects__cell">
          <p>Development</p>
        </td>
        <td class="projects__cell">
          <app-component-user-mini-card></app-component-user-mini-card>
        </td>
      </tr>
      <div class="spacer"></div>
      <tr class="projects__row status-inprocess">
        <td class="projects__cell">
          <p>New website</p>
          <span>Microsoft</span>
        </td>
        <td class="projects__cell">
          <p>$2300</p>
        </td>
        <td class="projects__cell">
          <p>15 May 2016</p>
          <span>10 days left</span>
        </td>
        <td class="projects__cell">
          <p>40 hours</p>
        </td>
        <td class="projects__cell">
          <app-component-progressbar [value]="25"></app-component-progressbar>
        </td>
        <td class="projects__cell">
          <p>Development</p>
        </td>
        <td class="projects__cell">
          <app-component-user-mini-card></app-component-user-mini-card>
        </td>
      </tr>
      <div class="spacer"></div>
      <tr class="projects__row status-inprocess">
        <td class="projects__cell">
          <p>New website</p>
          <span>Microsoft</span>
        </td>
        <td class="projects__cell">
          <p>$2300</p>
        </td>
        <td class="projects__cell">
          <p>15 May 2016</p>
          <span>10 days left</span>
        </td>
        <td class="projects__cell">
          <p>40 hours</p>
        </td>
        <td class="projects__cell">
          <app-component-progressbar [value]="25"></app-component-progressbar>
        </td>
        <td class="projects__cell">
          <p>Development</p>
        </td>
        <td class="projects__cell">
          <app-component-user-mini-card></app-component-user-mini-card>
        </td>
      </tr>
      <div class="spacer"></div>
      <tr class="projects__row status-inprocess">
        <td class="projects__cell">
          <p>New website</p>
          <span>Microsoft</span>
        </td>
        <td class="projects__cell">
          <p>$2300</p>
        </td>
        <td class="projects__cell">
          <p>15 May 2016</p>
          <span>10 days left</span>
        </td>
        <td class="projects__cell">
          <p>40 hours</p>
        </td>
        <td class="projects__cell">
          <app-component-progressbar [value]="25"></app-component-progressbar>
        </td>
        <td class="projects__cell">
          <p>Development</p>
        </td>
        <td class="projects__cell">
          <app-component-user-mini-card></app-component-user-mini-card>
        </td>
      </tr>
      <div class="spacer"></div>
      <tr class="projects__row status-inprocess">
        <td class="projects__cell">
          <p>New website</p>
          <span>Microsoft</span>
        </td>
        <td class="projects__cell">
          <p>$2300</p>
        </td>
        <td class="projects__cell">
          <p>15 May 2016</p>
          <span>10 days left</span>
        </td>
        <td class="projects__cell">
          <p>40 hours</p>
        </td>
        <td class="projects__cell">
          <app-component-progressbar [value]="100"></app-component-progressbar>
        </td>
        <td class="projects__cell">
          <p>Development</p>
        </td>
        <td class="projects__cell">
          <app-component-user-mini-card></app-component-user-mini-card>
        </td>
      </tr>

    </table>

  </div>
</section>
