@import "../../../../assets/scss/theme.scss";

.progress-bar {
  display: flex;
  align-items: center;

  p {
    color: $font-color;
    font-weight: 700;
    margin-right: 16px;
    font-size: 1rem;
    letter-spacing: 0.32px;
  }
  div {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    width: 237px;
    height: 8px;
    background: #585c6f;
    span {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: $active-color;
      border-radius: 4px;
      &.success {
        background: $succees-color;
      }
    }
  }
}
