@import "../../../assets/scss/theme.scss";
@import "../../../assets/scss/helpers.scss";

.chat {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.chat__body {
  display: flex;
  width: 100%;
  height: 100%;
  transition: 0.3s ease all;
}

.chat__list {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  background: $brand-back;
  width: 100%;
  position: relative;
  margin-left: -100%;
  transition: 0.3s ease all;
  z-index: 7;
  .arrow {
    display: block;
    position: absolute;
    transform: translateX(100%);
    padding: 5px;
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color;
    span {
      font-size: 2rem;
    }
    &.open {
      transform: translateX(0%);
    }
  }
}

.chat__list--open {
  margin-left: 0 !important;
  z-index: 8;
}

.chat__card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #4d505f;
  background: $brand-back;
  cursor: pointer;
  transition: 0.3s ease all;
  &:hover,
  &.active {
    background: #2f3242;
  }
}

.chat__card--last {
  margin-top: auto;
}

.card__author-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.card__author {
  display: flex;
  align-items: center;
  img {
    vertical-align: middle;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 13px;
  }
  p {
    font-size: 1.2rem;
    color: $font-color;
    font-weight: 700;
    letter-spacing: 0.44px;
  }
}

.card__date {
  color: $active-color;
  font-size: 0.8rem;
  font-weight: 700;

  &.readed {
    color: $font-second;
  }
}

.card__message {
  color: $font-second;
  font-size: 1rem;
  letter-spacing: 0.32px;
  line-height: 28px;
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__button {
  padding: 10px;
  background: $active-color;
  text-align: center;
  color: $font-color;
  font-size: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 1.5rem;
    margin-right: 14px;
    opacity: 0.6;
  }
}

.chat__window {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease all;
  position: relative;
  background: $brand-back;
  z-index: 2;
}

.chat__window--close {
  flex: 0;
  overflow: hidden;
}

.chat__message {
  display: flex;
  align-items: flex-end;
  margin: 5px;
  margin-bottom: 55px;
  .avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 21px;
    margin-bottom: 21px;
    display: block;
    cursor: pointer;
  }
  .message {
    max-width: 70%;
    p {
      background: $brand-color;
      color: $font-color;
      padding: 10px;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      margin-bottom: 15px;
      font-size: 0.9rem;
      letter-spacing: 0.32px;
      line-height: 20px;
    }
    span {
      color: $font-second;
      font-size: 0.8rem;
    }
  }
  &.user-message {
    align-self: flex-end;
    flex-direction: row-reverse;
    .avatar {
      margin-right: 0;
      margin-left: 24px;
    }
    .message {
      p {
        background: $active-color;
        border-radius: 10px;
        border-bottom-right-radius: 0;
      }
      span {
        float: right;
      }
    }
  }
}

.chat__send {
  padding: 20px;
  margin-top: auto;
  form {
    background-color: #404359;
    display: flex;
    align-items: center;
    border: 1px solid rgba(156, 161, 178, 0.3);
    border-radius: 10px;
    input {
      color: $font-second;
      outline: none;
      display: block;
      padding: 14px 23px;
      font-size: 1rem;
      background: none;
      border: none;
      display: block;
      width: 90%;
    }
    div {
      padding-right: 23px;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      input[type="file"] {
        display: none;
      }
      .custom-file-upload {
        display: inline-block;
        cursor: pointer;
        color: $font-second;
      }
    }
  }
}

.chat__profile {
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: $brand-back;
  width: 100%;
  margin-right: -100%;
  transition: 0.3s ease all;
  z-index: 7;
  .avatar {
    margin: 0 auto;
    width: 124px;
    height: 124px;
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 50%;
    }
    &.onlnie:after {
      content: "";
      position: absolute;
      display: block;
      top: 5px;
      right: 5px;
      width: 24px;
      height: 24px;
      border: 3px solid $brand-back;
      background-color: #4caf50;
      border-radius: 50%;
    }
  }

  .info {
    text-align: center;
    padding: 0px 10px;
    margin-bottom: 55px;
    h2 {
      color: $font-color;
      margin-bottom: 8px;
      letter-spacing: 0.44px;
      font-size: 1.2rem;
    }
    span {
      color: $font-second;
      letter-spacing: 0.32px;
      display: block;
      margin-bottom: 27px;
    }
    p {
      color: $font-second;
      line-height: 28px;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .contacts {
    list-style: none;
    text-align: center;
    display: block;
    li {
      display: block;
      margin-bottom: 26px;
      span {
        font-size: 0.9rem;
        color: $font-second;
        font-weight: 500;
        display: block;
        margin-bottom: 19px;
      }
      p {
        font-size: 1rem;
        color: $font-color;
        font-weight: 500;
      }
    }
  }

  .arrow {
    display: block;
    position: absolute;
    padding: 5px;
    cursor: pointer;
    left: 0;
    transform: translateX(-100%);
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color;
    span {
      font-size: 2rem;
    }
    &.open {
      transform: translateX(0%);
    }
  }
}

.chat__profile--open {
  margin-right: 0 !important;
  z-index: 8;
}

@media (min-width: 426px) {
  .second-menu {
    width: 100%;
    position: absolute;
    top: -139px;
    transition: 0.3s ease all;
  }

  .second-menu--open {
    top: 0;
  }

  .second-menu__body {
    padding: 30px 20px;
    justify-content: space-between;
  }
  .second-menu__tabs {
  }
}

@media (min-width: 769px) {
  .second-menu {
    width: 100%;
    position: absolute;
    top: -102px;
    transition: 0.3s ease all;
  }

  .second-menu--open {
    top: 0;
  }

  .second-menu__body {
    flex-direction: row;
    justify-content: space-between;
  }
  .second-menu__tabs {
    width: 20%;
    margin-bottom: 0px;
  }

  .second-menu__filter {
    p {
      font-size: 1.2rem;
    }
  }
  .chat__list {
    width: 30%;
    margin-left: -30%;
    .arrow {
      &.open {
        transform: translateX(100%);
      }
    }
  }

  .chat__window {
  }

  .chat__window--close {
    flex: 1;
    overflow: hidden;
  }

  .chat__card {
    padding: 35px 24px 35px 10%;
  }

  .chat__send {
    padding: 35px 24px;
  }
  .card__button {
  }

  .chat__message {
    margin: 24px;
    .message {
      max-width: 40%;
      p {
        padding: 20px;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        margin-bottom: 15px;
        font-size: 1rem;
        letter-spacing: 0.32px;
        line-height: 28px;
      }
    }
  }

  .chat__profile {
    width: 15%;
    margin-right: -15%;
    .arrow {
      &.open {
        transform: translateX(-100%);
      }
    }
  }
}
