@import "../../../../assets/scss/theme.scss";

.second-menu {
  width: 100%;
  position: absolute;
  z-index: 4;
  top: -119px;
  transition: 0.3s ease all;
}

.second-menu--open {
  top: 0;
}

.second-menu__footer {
  float: right;
  display: inline-block;
  text-align: center;
  color: #fff;
  background: none;
  border: 1px solid $active-color;
  border-top: none;
  border-radius: 0;
  transition: 0.3s ease all;
  cursor: pointer;
  padding: 5px;
  padding-top: 25px;
  opacity: 0.7;
  span {
    transition: 0.3s ease all;
  }
}

.second-menu__footer--open {
  background: $active-color;
  border-radius: 0 0 50px 50px;
  opacity: 1;
  color: #fff;
  span {
  }
}

.second-menu__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  background-color: #2196f3;
  padding: 20px 10px;
  width: 100%;
  transition: 0.3s ease all;
}

.second-menu__tabs {
  width: 90%;
  margin-bottom: 25px;
}

.second-menu__filter {
  display: flex;
  align-items: center;
  p {
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    margin-right: 24px;
  }
}

@media (min-width: 426px) {
  .second-menu {
    width: 100%;
    position: absolute;
    top: -139px;
    transition: 0.3s ease all;
  }

  .second-menu--open {
    top: 0;
  }

  .second-menu__body {
    padding: 30px 20px;
    justify-content: space-between;
  }
  .second-menu__tabs {
  }
}

@media (min-width: 769px) {
  .second-menu {
    width: 100%;
    position: absolute;
    top: -102px;
    transition: 0.3s ease all;
  }

  .second-menu--open {
    top: 0;
  }

  .second-menu__body {
    flex-direction: row;
    justify-content: space-between;
  }
  .second-menu__tabs {
    width: 20%;
    margin-bottom: 0px;
  }

  .second-menu__filter {
    p {
      font-size: 1.2rem;
    }
  }
}
